.contact-form {
  max-width: 400px;
  border: 1px solid #9984a9;
  padding: 20px;
  color: #2e004e;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px 0 #9984a9, inset -2px -2px 6px 0px #a18db0;
}

.contact-form h2 {
  text-transform: capitalize;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.input-box label {
  display: block;
  padding: 5px;
}

.input-box {
  padding-bottom: 25px;
}
.input-box input {
  border: none;
  border-bottom: 1px solid #2e004e;
  padding: 10px;
  width: 100%;
}
.input-box input::placeholder {
  color: #2e004e73;
}
.input-field {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
}

.radio-form {
  padding: 10px;
}
.form-container {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 0.9%;
}

.radio-form .radio {
  padding-bottom: 9px;
}
.radio-form p {
  padding-bottom: 10px;
}
.radio label {
  padding-left: 10px;
}

.contact-btn {
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  font-family: 'B612 Mono', monospace;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: 11px;
  color: #2e004e;
}

.contact-btn:hover {
  background-color: #2e004e;
  box-shadow: 0px 15px 20px #9984a9;
  color: #fff;
  transform: translateY(-3px);
}
.contact-btn-container {
  width: 100%;
  padding-top: 50px;
}

@media (max-width: 850px) {
  .form-container {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
